/* _dark-theme.scss */
.dark-theme body {
  background: var(--background);
  color: var(--text);
}
.dark-theme .card {
  background: var(--card-background);
  border: 1px solid var(--card-border);
}
.dark-theme button {
  background: var(--button-background);
}
.dark-theme button:hover {
  background: var(--button-hover);
}
.dark-theme input {
  color: var(--input-color);
  background: var(--input-background);
  border: 1px solid var(--input-border);
}
.dark-theme .overlay {
  background: var(--overlay-background);
}