footer {
  display: flex;               
  justify-content: center;         
  align-items: center;             
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--button-background);
  color: white;
  text-align: center;
  padding: 20px;
  z-index: 100;
}

footer p {
  margin: 0;
  font-size: 14px;
}

footer .theme-toggle {
  margin-left: 10px;
}

