footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 20px;
  z-index: 100;
}

footer p {
  margin: 0;
  font-size: 14px;
}

.theme-toggle {
  margin-left: 10px;
}
