:root {
  --background: linear-gradient(to bottom, #d0d6e0, #a8b7d1);
  --text: #3c3c3c;
  --card-background: #ffffff;
  --card-border: #b4a5b5;
  --button-background: #3f356f;
  --button-hover: #594a9d;
  --input-color: #333333;
  --input-background: #f4f4f4;
  --input-border: #b4a5b5;
  --overlay-background: rgba(0, 0, 0, 0.3);
}

.dark-theme {
  --background: linear-gradient(180deg, #141b29 0%, #0c111b 100%);
  --text: #dcdcdc;
  --card-background: #2a2a2a;
  --card-border: #444444;
  --button-background: #3a3a3a;
  --button-hover: #5a5a5a;
  --input-color: #dcdcdc;
  --input-background: #333333;
  --input-border: #444444;
  --overlay-background: rgba(0, 0, 0, 0.8);
  
  
}
