:root {
  --background: linear-gradient(to bottom, #e0e4ec, #c0c9d7);
  --text: #2e2e2e;
  --card-background: #ffffff;
  --card-border: #a8a8a8;
  --button-background: #3f356f;
  --button-hover: #594a9d;
  --input-background: #f4f4f4;
  --overlay-background: rgba(0, 0, 0, 0.4);
}

.dark-theme {
  --background: linear-gradient(180deg, #121826, #0a0f1a);
  --text: #e5e5e5;
  --card-background: #1e1e1e;
  --card-border: #333;
  --button-background: #444;
  --button-hover: #666;
  --input-background: #262626;
  --overlay-background: rgba(0, 0, 0, 0.8);
}